.unit-details {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.unit-details__rows {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.unit-details__row {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid var(--border-color);
  border-bottom: none;

  &:first-of-type {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-of-type {
    border-bottom: 0.1rem solid var(--border-color);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .unit-details__label {
    padding: 1rem 1rem 0.5rem;
    border-right: 0.1rem solid var(--border-color);
    width: 19rem;
    font-weight: 700;
  }

  .unit-details__value {
    padding: 1rem 1rem 0.5rem;
    width: calc(100% - 19rem);
  }
}

@media only screen and (max-width: 540px) {
  .unit-details__rows {
    max-height: calc(100vh - 16.5rem);
    overflow-y: auto;
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .unit-details__row {
    display: flex;
    flex-direction: column;
    gap: 0;
    border: none;
    border-bottom: none;

    &:first-of-type {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      .unit-details__label {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }

    &:last-of-type {
      border-bottom: 0.1rem solid var(--border-color);

      .unit-details__value {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    .unit-details__label {
      padding: 0.75rem 1rem 0.25rem;
      width: 100%;
      border: 0.1rem solid var(--border-color);
      border-bottom: none;
    }

    .unit-details__value {
      padding: 0.5rem 1rem 0.25rem;
      width: 100%;
      border: 0.1rem solid var(--border-color);
      border-top: none;
      border-bottom: none;
    }
  }
}
