.home {
  background-image: url("/img/home-background.jpg");
  height: 75vh;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
